#page-header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background: #eaeaea;
}
#logo img {
  width: 10rem;
}
header nav,
ul {
  display: flex;
  align-items: center;
}
#socials li {
  margin: 20px;
}
#socials a {
  font-size: 2rem;
}
#inst-icon {
  color: #ff00bc;
}
#fb-icon {
  color: #2821a5;
}
