#page-header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background: #eaeaea;
}
#logo img {
  width: 10rem;
}
header nav,
ul {
  display: flex;
  align-items: center;
}
#page-nav {
  margin-right: 50px;
}
#page-nav li {
  margin: 10px;
}
#page-nav a {
  position: relative;
  font-family: "Gabarito";
  font-size: 1.15rem;
  color: black;
  text-decoration: none;
}
#page-nav a:before {
  content: "";
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 2px;
  transition: 0.3s;
}
#page-nav a:hover:before {
  background: black;
  width: 100%;
}
#socials li {
  margin: 20px;
}
#socials a {
  font-size: 2rem;
}
#inst-icon {
  color: #ff00bc;
}
#fb-icon {
  color: blue;
}
